{% extends "base.html" %}

{% block title %}Détail{% endblock %}

{% block content %}

<h2>{{ element.reference }}</h2>

<div class="detail">

    <h3>
        {{ element.designation }}
    </h3>

    <p>
        <strong>Constructeur :</strong>
        {{ element.constructeur }}
    </p>

    <p>
        <strong>Famille :</strong>
        {{ element.famille }}
    </p>

    <p>
        <strong>État du parc :</strong>
        {{ element.etatParc }}
    </p>

    <p>
        <strong>Implantation :</strong>
        {{ element.implantation }}
    </p>
    
    <p>
        <strong>Date d'acquisition :</strong>
        {{ element.dateAcquisition }}
    </p>
    

</div>

<a href="{{ url_for('index') }}">
    ← Retour à la liste
</a>

{% endblock %}