{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<h2>Liste des éléments</h2>

<p>
    Cette page présente les informations disponibles
    dans l'application.
</p>

<div class="liste">

    {% for element in donnees %}

    <article class="carte">

        <h3>{{ element.designation }}</h3>

        <p><span>constructeur :</span> {{ element.constructeur }}</p>
        
        <p><span>famille :</span> {{ element.famille }}</p>

        <p><span>état du parc :</span> {{ element.etatParc }}</p>

        <p><span>implantation :</span> {{ element.implantation }}</p>
            
        <p><span>date d'acquisition :</span> {{ element.dateAcquisition }}</p>



        <a href="{{ url_for('detail', id=element.id) }}">
            Voir le détail
        </a>

    </article>

    {% endfor %}

</div>

{% endblock %}
